extends ../layout

block content
  h1 Skills
  a(href='/admin/skills/add') Add Skill
  table
    thead
      tr
        th Name
        th Category
        th Actions
    tbody
      each skill in skills
        tr
          td #{skill.name}
          td #{skill.category}
          td.actions
            a.action-btn.edit(href=`/admin/skills/edit/${skill._id}`) Edit
            form(action=`/admin/skills/delete/${skill._id}` method='POST' style='display:inline')
              button.action-btn.delete(type='submit') Delete 